/* --- Styles de la barre de recherche --- */
.modern-search-bar-container {
    position: static;
    width: 30%;
  }

  .modern-search-bar {
    width: 100%;
    padding: 7px 7px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .modern-search-bar:focus {
    border-color: #ff6f61;
    box-shadow: 0 4px 15px rgba(255, 111, 97, 0.5);
    outline: none;
  }
  
  .modern-search-bar::placeholder {
    color: #888;
    font-style: italic;
  }

  /* --- Responsivité pour la barre de recherche --- */
@media (max-width: 480px) {
  .modern-search-bar-container {
    width: 90%;
  }

  .modern-search-bar {
    width: 100%;
    font-size: 12px;
    padding: 10px 12px;
  }
}