body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lora', serif; /* Police élégante et sophistiquée */
  padding: 0;
  background-color: #f5f5f5;
}

.results-display {
  position: relative; /* Pour positionner la deuxième image par rapport à ce conteneur */
  background-image: url('../Designer_research.png'); /* Première image de fond */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  max-height: 1000vh;
  padding: 20px;
  overflow-y: auto;
}

.results-display::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;
  background-image: url('../chogan-doree.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); /* Ajout d'une couleur d'arrière-plan semi-transparente */
}

.modern-search-bar-container {
  width: 50%;
}

.modern-cart-container {
  position: relative; /* Pour positionner l'icône de recherche */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centrer la barre de recherche horizontalement */
}

.modern-search-bar {
  width: 50%;
  padding: 12px 18px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modern-search-bar:focus {
  border-color: #ff6f61; /* Changer la couleur de la bordure au focus */
  box-shadow: 0 4px 15px rgba(255, 111, 97, 0.5); /* L'ombre devient plus forte lors du focus */
  outline: none; /* Retirer le contour par défaut */
}

.modern-search-bar::placeholder {
  color: #888; /* Couleur du placeholder plus claire */
  font-style: italic; /* Italique pour un style plus moderne */
}

/* Responsivité pour les petits écrans (smartphones, tablettes) */
@media (max-width: 768px) {
  .modern-search-bar {
    width: 85%; /* Ajuster la largeur pour les écrans plus petits */
    font-size: 12+px; /* Réduire la taille de la police pour une meilleure lisibilité */
    padding: 12px 15px; /* Ajuster les espacements internes */
  }
}

@media (max-width: 480px) {
  .modern-search-bar {
    width: 90%; /* La barre occupe presque toute la largeur de l'écran sur les très petits écrans */
    font-size: 12px; /* Réduire davantage la taille de la police pour les petits écrans */
    padding: 10px 12px; /* Réduire le padding */
  }
}

/* Section de suggestions, styles spécifiques pour l'autosuggestion */
.autosuggest-container {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  position: relative;
}

/* Responsiveness pour petits écrans */
@media (max-width: 768px) {

  .autosuggest-container {
    width: 100%;
  }

}
.filter-bar-container {
  display: flex;
  gap: 10px; /* Réduit l'espace entre les éléments */
  padding: 20px 0; /* Ajuste le padding vertical, vous pouvez diminuer les valeurs si nécessaire */
  justify-content: center; /* Centre les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  flex-wrap: nowrap;
}

.modern-search-bar-container {
  width: 40%;
}

.modern-search-bar {
  width: 80%; /* Ajuster la largeur de la barre de recherche */
  padding: 12px 18px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Section de suggestions, styles spécifiques pour l'autosuggestion */
.autosuggest-container {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  position: relative;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  z-index: 10;
}

.pagination__link {
  background-color: rgba(21, 12, 12, 0.5);
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.pagination__link:hover {
  background-color: rgba(21, 12, 12, 0.5);
}

.pagination__link--active {
  background-color: #ff6f61;
  color: white;
}

.pagination__link--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__link svg {
  font-size: 1.2rem;
}

/* Titre avec un effet visuel élégant */
/* Titre avec un effet visuel élégant */
.marble-text {
  margin-top: 2px;
  position: relative;
  font-size: 2rem; /* Taille du texte */
  font-weight: bold;
  color: #ffffff; /* Couleur du texte modifiée en blanc pour plus de netteté */
  text-align: center;
  text-transform: uppercase; /* Mettre en majuscule pour plus de présence */
  letter-spacing: 2px; /* Espacement entre les lettres */
  line-height: 1.2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Ombre pour donner du relief */
  animation: marbleEffect 5s infinite alternate;
  background-image: linear-gradient(45deg, #f1c40f, #9b59b6); /* Gradient or et violet pour un effet luxe */
  background-clip: text; /* Applique le gradient à l'intérieur du texte */
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
}

/* Effet de transition au survol du texte */
.marble-text:hover {
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  letter-spacing: 5px;
}

/* Animation du marbré */
@keyframes marbleEffect {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Responsivité pour les écrans plus petits */
@media (max-width: 768px) {
  .marble-text {
    font-size: 2.5rem; /* Réduire la taille du texte sur les tablettes */
    line-height: 1.3;
    letter-spacing: 1px;
  }
}

@media (max-width: 480px) {
  .marble-text {
    font-size: 1.2rem; /* Réduire encore plus sur les smartphones */
    letter-spacing: 0px;
    margin-top: 5px;
  }
}
.quantity-input {
  display: block;
  align-items: center;
}

.quantity-input button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.7rem;
}

/* Style général de la popup */
.cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 90%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  overflow-y: auto;
  max-height: 100vh;
}

.cart-popup h2 {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.cart-popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-popup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.cart-popup .total {
  margin-top: 20px;
  font-size: 1em;
  text-align: right;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px; /* Ajustez cette largeur selon vos besoins */
  margin: 0 auto;
}

.order-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.order-form .required {
  color: red;
}

.order-form input {
  padding: 8px 12px;  /* Ajustez la largeur et les espacements à votre convenance */
  height: 35px;  /* Réduire la hauteur des inputs */
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Ajustez la taille de la police si nécessaire */
}

.order-form input:focus {
  border-color: #4caf50;
  outline: none;
}

.confirm-order-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-order-btn:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .cart-popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    max-height: none;
  }

  .cart-popup h2 {
    font-size: 1em;
  }

  .cart-popup .total {
    font-size: 0.7em;
  }

  .cart-popup .order-form input {
    padding: 8px;
  }

  .cart-popup .confirm-order-btn {
    padding: 8px;
  }
}


.view-cart-btn {
  background-color: #ff6f61;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.875rem;
  margin: 20px 0;
  position: fixed;
  top: 10px;
  right: 10px;
}

/* --- Styles Responsives --- */

/* Style du compteur du panier */
.cart-icon .cart-count {
  background-color: #f97316; /* Fond orange vif */
  color: white;
  border-radius: 50%; /* Cercle autour du compteur */
  padding: 2px 6px;
  font-size: 0.8rem; /* Taille du texte par défaut */
  position: absolute;
  top: 0;
  right: 0;
  min-width: 18px;
  min-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sur mobile (jusqu'à 768px) */
@media (max-width: 768px) {
  .cart-icon {
    font-size: 1.5rem; /* Taille réduite de l'icône */
    padding: 8px; /* Moins de padding pour s'adapter */
  }

  .cart-icon .cart-count {
    font-size: 0.7rem; /* Taille réduite du compteur */
    padding: 3px 6px; /* Ajuste la taille du compteur */
    min-width: 16px; /* Taille minimale du compteur */
    min-height: 16px; /* Taille minimale du compteur */
  }
}

/* Sur tablettes et écrans plus grands (à partir de 769px) */
@media (min-width: 769px) {
  .cart-icon {
    font-size: 1.8rem; /* Taille de l'icône augmentée */
    padding: 12px;
  }

  .cart-icon .cart-count {
    font-size: 0.9rem; /* Taille du compteur augmentée */
    padding: 4px 8px; /* Ajuste la taille du compteur */
    min-width: 20px; /* Taille minimale du compteur */
    min-height: 20px; /* Taille minimale du compteur */
  }
}

/* Sur très grands écrans (exemple : bureau 1200px et plus) */
@media (min-width: 1200px) {
  .cart-icon {
    font-size: 0.7rem; /* Taille encore plus grande pour de très grands écrans */
    padding: 15px;
  }

  .cart-icon .cart-count {
    font-size: 0.6rem; /* Taille du compteur encore plus grande */
    padding: 5px 10px; /* Ajuste la taille du compteur */
    min-width: 24px; /* Taille minimale du compteur */
    min-height: 24px; /* Taille minimale du compteur */
  }
}


.remove-btn {
  background: none;
  border: none;
  color: #ff6f61;
  cursor: pointer;
  font-size: 1rem;
}

.tooltip {
  position: absolute;
  top: 10%;
  right: 15%;
  background-color: #ff6f61;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 1000;
}

.tooltip-error {
  background-color: rgb(255, 0, 0);
}
.cart-popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  z-index: 1001; /* Assurez-vous que le popup est au-dessus des autres éléments */
}

.total-price {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ff6f61; /* Changer la couleur pour mieux correspondre à la charte */
}

.contact-form {
  margin-top: 20px;
}

.contact-form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.confirm-order-btn, .close-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-order-btn:hover, .close-btn:hover {
  background-color: #0056b3;
}

.view-cart-btn {
  background-color: #ff6f61;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.875rem;
  margin: 20px 0;
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Style de base pour l'icône du panier */
.cart-icon {
  position: relative; /* Positionnement relatif pour permettre de placer le compteur */
  display: inline-block;
  font-size: 1.5rem; /* Taille de l'icône */
  padding: 10px;
  color: #f97316; /* Couleur de l'icône */
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Pour une animation fluide */
}

/* Ajout d'un effet au survol de l'icône du panier */
.cart-icon:hover {
  transform: scale(1.1); /* L'icône augmente légèrement au survol */
}



.remove-btn {
  background: none;
  border: none;
  color: #ff6f61;
  cursor: pointer;
  font-size: 1rem;
}

.add-to-cart-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.search-and-filters {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}



.filters {
  display: flex;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.2); /* Gris transparent */
  padding: 10px;
  border-radius: 5px;
}

.filters select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color:  rgba(243, 236, 236, 0.829); /* Opaque */
}

/* Pop-up de confirmation */
.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  width: 50%;
}

.confirmation-popup h2 {
  font-size: 1.5rem;
  color: #28a745;
  margin-bottom: 15px;
}

.confirmation-popup p {
  font-size: 1rem;
  color: #333;
}

.confirmation-popup .close-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
}
/* Style de la ligne du produit dans la liste */
.lineNomProduit {
  font-weight: bold;
  font-size: 1rem;
}

.lineprixQuantity {
  font-size: 0.9rem;
  color: #555;
}

.line-total {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-top: 5px;
}

/* Bouton de suppression */
.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #dc3545;
  margin-left: 10px;
}

.remove-btn:hover {
  color: #c82333;
}

/* Style pour l'élément li */
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}



/* Style du bouton home */
.btn-home { 
  background-color: #f97316;  /* Couleur de fond du bouton */
  color: white;
  padding: 7px 15px; /* Ajuster la taille du bouton */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  z-index: 1000; /* S'assurer que le bouton soit au-dessus des autres éléments */
}

/* Optionnel: Ajouter un effet de survol pour améliorer l'interaction */
.btn-home:hover {
  background-color: #f97316;  /* Teinte plus sombre pour l'effet de survol */
}



